<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/public/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <%= assets([:css, :yogurt]) %>
    <%= assets([:js,  :yogurt]) %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class='body-signin'>
    <div class="container">
      <form class="form-signin" action='/user_sessions' method='POST'>
        <h2 class="form-signin-heading">Please sign in</h2>

        <% flash.each do |kind, message| %>
          <div class='alert alert-<%= kind %>' role='alert'>
            <p> <%= message %> </p>
          </div>
        <% end %>

        <label for="email" class="sr-only">Email address</label>
        <input type="email" name='email' class="form-control" placeholder="Email address" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div> <!-- /container -->
  </body>
</html>
